@import url("https://fonts.googleapis.com/css?family=Poppins:400");

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 1.383rem;
}

h2 {
  color: gray;
  font-size: 1.296rem;
}

h3 {
  font-size: 1.215rem;
}

h4 {
  font-size: 1.138rem;
}

h5 {
  font-size: 1.067rem;
}

small,
.text_small {
  font-size: 0.937rem;
}

.add-btn {
  height: 10%;
  width: 60%;
  margin: auto;
}
.add-btn input {
  padding-left: 20px;
  height: 100%;
  width: 80%;
}
.add-btn button {
  color: rgb(15, 15, 15);
  font-weight: 700;
  background: rgba(206, 214, 221, 0.2);
  height: 80%;
  width: 20%;
}

.habits-list {
  margin: auto;
  overflow-y: scroll;
  padding: 0px;
  height: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}
.habits-list::-webkit-scrollbar {
  visibility: hidden;
}
.habits-list li {
  box-shadow: 2px 3px 8px 1px #80808052;
  align-items: center;
  width: 35%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  height: 70px;
  background: white;
  color: black;
  margin-right: 20px;
  border: solid 2px gray;
  border-radius: 5px;
  font-family: monospace;
}
.habits-list li h1 {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
}

.habits-list li button {
  border-radius: 7px;
  border: solid 2px white;
  background: #9a98c3;
  color: white;
  height: 60%;
  width: 25%;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
  .habits-list {
    margin-left: 10%;
    flex-direction: column;
    justify-content: center;
  }
  .habits-list li {
    width: 100%;
    height: 40px;
  }

  .habits-list li h1 {
    padding-left: 10px;
    justify-content: flex-start;
    font-size: 15px;
  }

  .add-btn {
    height: 40px;
    width: 100%;
  }
  .add-btn button {
    font-weight: 400;
    height: 80%;
    width: 30%;
    font-size: 9.25px;
  }

  .habits-list li button {
    height: 80%;
    font-size: 12px;
    width: 25%;
  }

  .main {
    width: 86%;
    align-items: center;
  }
}
